<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReplayRTSPBro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ReplayRTSPBroUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>STTest1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>311626971E49608F008A9500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>311626B31E49608F008A9500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>311626BE1E49608F008A9500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3190C0791E7A962F005CF83E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3190C0871E7A962F005CF83E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
